@import url(./bootstrap.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
@font-face {
    font-family: opensans;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}
html,body{
    margin: 0px;
    padding: 0px;
}
.page{
    height: 270vh;
    width: 100%;
    background-color: #F2F2F2 !important;
    font-family: opensans;
    flex-direction: column;
}
.page .pagehead{
    height: 20vh;
    width: 100%;
    flex-direction: column;
}
.page .pagehead .row1{
    height: 30%;
    width: 100%;
}
.page .pagehead .row2{
    height: 70%;
    width: 100%;
    flex-direction: column;
    background-color:white;
}
img{
    overflow: auto;
    background-color: transparent;
}
.page .pagebody{
    width: 100%;
    height: 200vh;
    flex-direction: column;
}
.picdes{
    line-height: 0.8;
    font-size: 13px;
}
.btnfollowers{
    font-size: 12px;
    letter-spacing: -2px;
    margin-top: -10%;
}
.page .pagebody .pagebody1 .right{
    flex-direction: column;
}
.page .pagefoot{
    width: 100% !important;
    height: 50vh !important;
    flex-direction: column !important;
}
input{
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    background-color: transparent !important;
}
.fa-cart-shopping{
    font-size: 20px;
}
form{
    width: 98% !important;
    height: 100% !important;
    border: none !important;
}
form:hover{
    background-color: blanchedalmond !important;
}
.downright{
   background-color: whitesmoke !important;
}
.smalltext{
    font-size: 13px !important;
    font-weight: bold !important;
}
.circle{
    width: 30px !important;
    height: 30px !important;
    border-radius: 100% !important;
    background-color: gainsboro !important;
}
.mpts{
    color: white !important;
    border: none !important;
    font-size: 20px !important;
    padding-left: 8% !important;
    padding-right: 8% !important;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
}
.bbder{
    border: 2px solid rgba(255, 0, 0, 0.75) !important;
}
.bder{
    border: 1px solid red !important;
}
.bder-l{
    border-left: 1px solid gainsboro !important;
}
.bder-r{
    border-right: 1px solid gainsboro !important;
}
.rad-small{
    border-radius: 10px !important;
}
.rad-big{
    border-radius: 25px !important;
}
.rad-small-right{
    border-top-right-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
}
.rad{
    border-radius: 15px !important;
}
.no-bder{
    border: none !important;
    background-color: transparent !important;
}
.no-bder-o{
    border: none !important;
}
.justify-content-evenly{
    justify-content: space-evenly !important;
}
.justify-content-right{
    justify-content: right !important;
}
.justify-content-left{
    justify-content: left !important;
}
.justify-content-right{
    justify-content: right !important;
}
.bg-white{
    background-color: white !important;
}
.bg-orange{
    background-color: orangered !important;
}
.bg-lgrey{
    background-color: gainsboro !important;
}
.text-lgrey{
   color: rgb(90, 90, 90) !important;
}
.h-03{
    height: 3% !important;
}
.h-04{
    height: 4% !important;
}
.h-05{
    height: 5% !important;
}
.h-06{
    height: 6% !important;
}
.h-07{
    height: 7% !important;
}
.h-10{
    height: 10% !important;
}
.h-15{
    height: 15% !important;
}
.h-23{
    height: 23% !important;
}
.h-25{
    height: 25% !important;
}
.h-27{
    height: 27% !important;
}
.h-28{
    height: 28% !important;
}
.h-30{
    height: 30% !important;
}
.h-35{
    height: 35% !important;
}
.h-40{
    height: 40% !important;
}
.h-45{
    height: 45% !important;
}
.h-46{
    height: 46% !important;
}
.h-47{
    height: 47% !important;
}
.h-48{
    height: 48% !important;
}
.h-49{
    height: 49% !important;
}
.h-50{
    height: 50% !important;
}
.h-55{
    height: 55% !important;
}
.h-60{
    height: 60% !important;
}
.h-70{
    height: 70% !important;
}
.h-85{
    height: 85% !important;
}
.h-90{
    height: 90% !important;
}
.h-95{
    height: 95% !important;
}
.h-100{
    height: 100% !important;
}
.w-07{
    width: 7% !important;
}
.w-08{
    width: 8% !important;
}
.w-10{
    width: 10% !important;
}
.w-15{
    width: 15% !important;
}
.w-16{
    width: 16% !important;
}
.w-17{
    width: 17% !important;
}
.w-18{
    width: 18% !important;
}
.w-19{
    width: 19% !important;
}
.w-20{
    width: 20% !important;
}
.w-23{
    width: 23% !important;
}
.w-24{
    width: 24% !important;
}
.w-25{
    width: 25% !important;
}
.w-40{
    width: 40% !important;
}
.w-45{
    width: 45% !important;
}
.w-48{
    width: 48% !important;
}
.w-55{
    width: 54% !important;
}
.w-60{
    width: 60% !important;
}
.w-70{
    width: 70% !important;
}
.w-73{
    width: 73% !important;
}
.w-74{
    width: 74% !important;
}
.w-75{
    width: 75% !important;
}
.w-78{
    width: 78% !important;
}
.w-80{
    width: 80% !important;
}
.w-83{
    width: 83% !important;
}
.w-85{
    width: 85% !important;
}
.w-89{
    width: 89% !important;
}
.w-90{
    width: 90% !important;
}
.w-91{
    width: 91% !important;
}
.w-92{
    width: 92% !important;
}
.w-93{
    width: 93% !important;
}
.w-94{
    width: 94% !important;
}
.w-95{
    width: 95% !important;
}
.w-96{
    width: 96% !important;
}
.w-97{
    width: 97% !important;
}
.w-98{
    width: 98% !important;
}
.w-99{
    width: 99% !important;
}

@media only screen and (max-width: 1325px){
    .btnfollowers{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -10%;
        font-size: 10px;
    }
}
@media only screen and (max-width: 1299px){
    .btnfollowers{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -10%;
        font-size: 10px;
    }
    .search2{
        font-size: 12px;
    }
    .categories{
        font-size: 12px;
    }
}
@media only screen and (max-width: 1245px){
    .btnfollowers{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -10%;
        font-size: 10px;
    }
    .search2{
        font-size: 12px;
    }
    .categories{
        font-size: 12px;
    }
    .btns{
        display: flex;
        flex-direction: column;
    }
    .pagebody1 .right .down .downright .text-only .smalltext{
        display: none;
    }
    .pagebody4 buttons{
        font-size: 12px;
    }
    .picdes{
        font-size: 13px;
    }
}
@media only screen and (max-width: 1123px){
    .btnfollowers{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -10%;
        font-size: 8px;
    }
    .search2{
        font-size: 12px;
    }
    .categories{
        font-size: 12px;
    }
    .btns{
        display: flex;
        flex-direction: column;
    }
    .pagebody1 .right .down .downright .text-only .smalltext{
        display: none;
    }
    .pagebody4 buttons{
        font-size: 12px;
    }
    .picdes{
        font-size: 13px;
    }
}
@media only screen and (max-width: 1000px){
    /* how about using the overflow-x to remove 
    the parts i do not want; */
    .btnfollowers{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -10%;
        font-size: 8px;
    }
    .search2{
        font-size: 12px;
    }
    .categories{
        font-size: 12px;
    }
    .btns{
        display: none;
    }
    .exclusive{
        display: none;
    }
    .text-2{
        display: none;
    }
    .lefty{
        display: none;
    }
    .righty{
        display: none;
    }
    .upcontent{
        display: none;
    }
    .downcontent{
        display: none;
    }
    .banner{
        display: none;
    }
    .btns-1{
        display: none;
    }
    .circle .fa-user{
        display: none;
    }
    .circle{
        display: none;
    }
    .circle-holder{
        display: none;
    }
    .downleft + div{
        display: none;
    }
    .pagebody4 buttons{
        display: none;
    }
    .picdes{
        font-size: 12px;
    }
    .search2{
        display: none;
    }
}
@media only screen and (max-width: 926px){
    .btnfollowers{
        display: none;
    }
    .search2{
        font-size: 12px;
    }
    .btns{
        display: flex;
        flex-direction: column;
    }
    .exclusive{
        display: none;
    }
    .text-2{
        display: none;
    }
    .lefty{
        display: none;
    }
    .righty{
        display: none;
    }
    .upcontent{
        display: none;
    }
    .downcontent{
        display: none;
    }
    .pagebody4 buttons{
        display: none;
    }
    .picdes{
        font-size: 12px;
    }
}