@import url(./bootstrap.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
@font-face {
    font-family: opensans;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}
html,body{
    margin: 0px;
    padding: 0px;
}
.page{
    height: 350vh;
    width: 100%;
    background-color: #F2F2F2 !important;
    font-family: opensans;
}
.page .top{
    height: 20vh;
    width: 100%;
    flex-direction: column;
}
.page .top .top1{
    height: 30%;
    width: 100%;
}
.page .top .top1 .content{
    height: 60%;
    width: 50%;
    /* background-color: brown !important; */
}
.page .top .top2{
    height: 70%;
    width: 100%;
    background-color: white;
}
.bgme{
    background-color: #FAFAFA !important;
}
.btn-height{
    height: 50%;
}
.w-10{
    width: 5%;
}
.w-15{
    width: 7%;
}